---
---
@charset "utf-8";

$grey-color: #3F5573;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 15%);

$background-color: #f2f5ff;

// Import partials from the `minima` theme.
@import "minima";
